html, body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image:  linear-gradient(pink, yellow);
  position: fixed;
  overflow-y: none;
  filter: none;
}

.parent {
padding: 0;
width: 680px;
margin-left: calc(50vw - 340px);
margin-right: calc(50vw - 340px);
display: flex;
flex-direction: column;
justify-content: flex-start;

}

.wideparent {
width: 80vw;
}
#widemain {
  margin-left: calc(10vw);
  margin-right: calc(10vw);
}

#widemain p {
  margin-left: 66%;
}
#widemain img, iframe {
  width: 100%;
}


#heading {
width: 100%;
height: 150px;
margin: 0;
background-size: 100% 100%;
background-image: url('mem3ntos_1.png');
}

h1, h2, h3, h4, h5, h6 {
  font-family: Bee;
}

#main {
  font-family: 'Open Sans', sans-serif;
  font-family: Bee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 150%;
  font-size: .9em;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  height: 100%;
  min-height: calc(100vh - 100px);
  }

#main a {
  font-family: 'Times New Roman', Times, serif;
}

.footer {
  background-color: white;
  width: 680px;
  margin-left: calc(50vw - 340px);
  margin-right: calc(50vw - 340px);
  background-image: linear-gradient(white 0%, gray 70%);
  }


@media (max-width: 680px) {
  .parent {
  display: flex;
  width: 100vw;
  padding: 0;
  margin: 0;
  }

  .footer {
  width: 100%;
  margin: 0;
  }
  .wideparent {
  width: 100vw;
  }
  #widemain {
    margin-left: calc(0vw);
    margin-right: calc(0vw);
  }
  #widemain p {
    margin-left: 10px;
        margin-left: 10px;
  }

    }

            #biolink {
                color: blue;
                text-decoration: underline;
            }

            #bio {
                display: none;
            }

            #bio p {

                font-size: 1em;
            }

            input[type=checkbox]:checked ~ #bio {
                display: block;}







#two p {
line-height: 1.5;
}






.dot {

text-align: center;
font-size: 3em;
}

.stanza, .hangingindent {
  padding-left: 22px ;
  text-indent: -22px ;
  padding-left: 10px;
  padding-right: 10px;
}


 #audio {

  height: 54px;
  width: 300px;
  margin-left: calc(50% - 150px);
  margin-right: calc(50% - 150px);
 }

 a:link { color: #005eff;

 }
 a:visited { color: #005eff;
 }
